[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
"pep8" = "*"
"autopep8" = "*"

[packages]
django = ">=2.1.10"
djangorestframework = "*"
django-rest-swagger = "*"
"python-u2flib-server" = "*"
fire = "*"
semver = "*"
django-cors-headers = "*"
envs = "*"
psycopg2 = "*"

[requires]
python_version = "3.7"
